@media (max-width: 1024px) {
  .cabecalho {
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;
    gap: 15;
  }
  .cabecalho .logo {
    height: 55px;
  }

  .cabecalho .menu li a {
    padding: 15px 15px 5px 15px;
  }

  .home .informacoes {
    padding: 30px;
  }
  .home .informacoes img {
    max-width: 350px;
  }
  .home .informacoes .titulo {
    font-size: 40px;
  }

  .legends .informacoes-legends {
    padding: 40px 60px;
  }

  .legends .informacoes-legends .logo-legends {
    width: 400px;
  }

  .legends .informacoes-legends .titulo {
    font-size: 18px;
  }
  .legends .informacoes-legends .texto-legends {
    font-size: 14px;
  }

  .compre-ja .cartao {
    width: 70%;
  }

}

@media (max-width: 768px) {
    .compre-ja{
      padding: 30px;
    }
    .compre-ja .cartao {
      width: 100%;
      padding: 80px 20px;
    }

    .compre-ja .informacoes h3{
      font-size: 35px;
    }

    .compre-ja .informacoes .plataformas{
      flex-direction: column;
    }

    .btn-plataforma {
      margin-top: 15px;
      padding: 15px;
    }
}

@media (max-width: 576px){
  .home::after {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4) 100%, transparent 65%);
  }
  
    .cabecalho {
    
      padding: 0 20px;
      height: auto; /
    }
  
    .cabecalho .logo {
      gap: 10px;
    }
  
    .cabecalho .menu {
      flex-direction: column;
      gap: 10px;
    }
  
    .cabecalho .menu li a {
      padding: 10px;
      font-size: 14px;
    }
    .legends {
      display: flex;
      position: relative;
      min-height: 100vh;
      align-items: center;
      justify-content: center;
      background-image: url('../imagens/bg-section-2.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    
    .legends .informacoes-legends {
      position: absolute;
      z-index: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 40px 20px;
      max-width: 1000px;
      text-align: center;
    }
  
    .legends .informacoes-legends .titulo {
      font-size: 18px;
      line-height: 24px;
    }
  
    .legends .informacoes-legends .texto-legends {
      font-size: 14px;
      line-height: 20px;
    }

    .compre-ja {
      padding: 20px;
    }
  
    .compre-ja .titulo {
      font-size: 30px;
    }
  
    .compre-ja .cartao {
      width: 100%;
      padding: 40px 20px;
    }
  
    .compre-ja .informacoes h3 {
      font-size: 30px;
    }
  
    .compre-ja .informacoes p {
      font-size: 18px;
    }
  
    .compre-ja .informacoes .lista-de-beneficios {
      font-size: 14px;
    }
  
    .compre-ja .btn-plataforma .plataformas {
      width: 100%;
    }
}